$header-height: 50px;

/* header styles */
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: $header-height;
  z-index: 2;
  background: $color-primary;

  .primary-nav-inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .primary-nav-right {
    margin-left: auto;
    padding-right: 20px;

    > ul {
      margin: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .nav-logo-button {
    height: 50px;
  }

}

.header-spacer {
  height: $header-height;
}


