<header class="primary-nav">

  <div class="primary-nav-inner">
    <a href="/" class="primary-nav-left">
      <button id="main-nav-button" class="nav-logo-button bg-transparent">
        <amp-img src="/img/tsmean-logo.svg" width="100" height="30" alt="tsmean Logo"></amp-img>
      </button>
    </a>
  
    <div class="primary-nav-right xs-hide">
      {{> ./components/primary-nav-menu/primary-nav-menu.html}}
    </div>
    <div class="primary-nav-right sm-hide md-hide lg-hide">
      <button class="primary" on='tap:sidebar1.toggle'>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>

  </div>

</header>
<div class="header-spacer"></div>
{{> ./components/sidebar/sidebar.html}}
