body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.61;

  ::selection {
    background: lighten($primary-color, 40% ) ; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: lighten($primary-color, 40% ); /* Gecko Browsers */
  }

}
