@import '../../styles/mixins/material-shadow.mixin';

button, .tsmean-button {

  // could use a little refactor?

  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
  &:focus {
    outline: none;
  }

  background: white;
  color: $primary-color;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;

  &.primary {
    background: $primary-color;
    color: white;
  }

  &.jumbo-button {
    font-size: 18px;
  }

  &.bordered {
    border: 1px solid $primary-color;
  }

  &.bordered-inverse {
    border: 1px solid white;
    color: white;
    background: $primary-color;
  }


  &.bg-transparent {
    background: transparent;
  }

  &.slim {
    letter-spacing: 0.03em;
    font-weight: 400;
  }


}

