@import '../../styles/mixins/material-shadow.mixin';

button, .tsmean-button, .link-button {

  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
  &:focus {
    outline: none;
  }

  &.raised {
    @include md-shadow();
  }

  background: $color-accent;
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;

  &.primary {
    background: $color-accent;
    color: $color-primary;
  }
  &.accent {
    background: $color-accent;
    color: white;
  }

  &.jumbo-button {
    font-size: 18px;
  }

  &.bordered {
    border: 1px solid $color-primary;
  }

  &.bordered-inverse {
    border: 1px solid white;
    color: white;
    background: $color-primary;
  }


  &.bg-transparent {
    background: transparent;
    color: $color-accent;
  }

  &.slim {
    letter-spacing: 0.03em;
    font-weight: 400;
  }


}

