div {
  &.primary {
    background: $color-primary;
    color: $text-on-primary;
    border-radius: 5px;
    padding: 17px;

    a {
      color: $text-on-primary;
    }

    a.link-button {
      color: $color-primary;
    }

  }
}
