hr.app-hr {
  padding: 0;
  border: none;
  text-align: center;
  &:after {
    content: "*  *  *";
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    padding: 0 0.25em;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $color-dark-gray;
}
