<div class="featured-box">
  <div class="featured-star">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="#EEC944" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
  </div>
  <div class="featured-left">
    <div class="featured-explainer">
      Featured Open Source Project
    </div>
    <h2 class="featured-title">
      <a href="https://www.github.com/taskbase/tb-grid">
        Svelte Puzzle
      </a>
    </h2>
    <div class="featured-description">
      Built for SvelteHack 2023, shows how to build mobile apps with Svelte + Capacitorjs.
    </div>
  </div>
  <div class="featured-right">
    <div class="featured-controls">
      <a href="https://www.github.com/bersling/sveltepuzzle"
         target="_blank"
         id="#github-tsmean"
         class="">
        <button class="featured-button">
          <!-- do not remove the span, it is not excess. see https://stackoverflow.com/a/35466231/3022127 -->
          <span class="featured-button-inner">
            <amp-img src="/assets/img/github-icon-transparent.svg"
                     height="40"
                     width="40"
                     class=""
                     alt="Github Logo">
            </amp-img>
            <span class="">
              GO TO REPO
            </span>
          </span>
        </button>
      </a>
    </div>
  </div>
</div>
