<a href="https://www.github.com/taskbase/tb-grid"
   class="app-margin-top-20"
   target="_blank">
  <div class="app-article-footer-extra">
    <div class="app-article-footer-extra-logo">
      Lightweight (1kb gzipped) <br> 12 column grid, built with CSS grid.
    </div>
    <div class="app-article-footer-extra-text">
      tb-grid
    </div>
    <div class="app-article-footer-action">
      <button>
        Get Started
      </button>
      <p class="featured-link-designator">Featured Open Source Lib of the Week</p>
    </div>
  </div>
</a>
