$color-black: #000000;
$color-white: #ffffff;
$color-accent: #00ff00;
$color-error: #ff0000;
$color-dark-gray: #1a1a1a;

$color-bg-one: $color-black;
$color-bg-two: $color-dark-gray;
$color-text: $color-white;

$color-button-primary: $color-accent;
$color-button-secondary: $color-white;


$primary-background: $color-dark-gray;

%bg-one {
  background: $color-bg-one;
  color: $color-text;
}

%bg-two {
  background: $color-bg-two;
  color: $color-text;
}

%bg-accent {
  background: $color-accent;
  color: $color-black;
}

// used for transparent images with black font...
%bg-white {
  background: $color-white;
  color: $color-black;
}

$color-primary: $color-black;

$text-on-primary: #ffffff;
$color-primary-complement: #ffffff;
$color-success: $color-accent;
