<script async custom-element="amp-geo" src="https://cdn.ampproject.org/v0/amp-geo-0.1.js"></script>
<amp-geo layout="nodisplay"></amp-geo>
<div class="learn-more-wrapper app-primary-box center">
    <div class="learn-more-message-default">
        Dear Devs: <b>You can help Ukraine🇺🇦.</b> I opted for (a) this message and (b) a <a
            href="https://amp.dev/documentation/components/amp-geo">geo targeted message</a> to Russians
        coming to this page. If you have a blog, you could do something similar, or you can link to a donations page.
        If you don't have one, you could think about launching a page with uncensored news and spread it on Russian
        forums or even Google Review. Or hack some
        russian servers. Get creative.
        <b>#StandWithUkraine 🇺🇦</b>
    </div>
    <div class="learn-more-message-ru">
        Dear russians🇷🇺. I am a peace loving person from Switzerland🇨🇭. It is without a doubt in my mind, that your
        president, Vladimir Putin, has started a war that causes death and suffering for Ukrainians🇺🇦 and
        Russians🇷🇺.
        Your media is full of lies. Lies about the casualties, about the intentions, about the "Nazi Regime" in Ukraine.
        Please help to mobilize your people against your leader. I know
        it's dangerous for you, but it must be done!
    </div>
</div>
