.learn-more-wrapper {

  text-align: center;
  background: $color-primary;
  color: $text-on-primary;
  border-radius: 5px;
  padding: 20px;

  .learn-more-slogan {
    margin-bottom: 20px;
  }

  .subscribe-button-wrapper {

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 10px;

    .learn-more-slogan {
      margin-bottom: 10px;
    }

    .learn-more-heading {
      margin-top: 0;
    }

    .mini-raven {
      margin-bottom: -3px;
    }
  }

}


// country targeting
.learn-more-message-default {
  display: block;
}

.learn-more-message-ru {
  display: none;
}

/* override */
.amp-iso-country-ru {

  .learn-more-message-default {
    display: none;
  }

  .learn-more-message-ru {
    display: block;
  }

}
