<div class="learn-more-wrapper">
    <a class="learn-more-banner" href="https://www.youtube.com/@garyseconomics" target="_blank">
        <div class="learn-more-logo">
            gary&rsquo;s<br>economics
        </div>
        <div class="learn-more-content">
            <div class="learn-more-title">Tax Wealth, Not Work</div>
            <div class="learn-more-text">
                Wages get taxed to the bone while the ultra-rich watch their assets compound
                untouched &mdash; and then buy up the houses you're saving for.
                If you work for your money, this is your fight too.
            </div>
            <div class="learn-more-cta">Watch on YouTube &rarr;</div>
        </div>
    </a>
</div>
