<div class="learn-more-wrapper">
    <a class="learn-more-banner" href="https://www.youtube.com/@garyseconomics" target="_blank">
        <div class="learn-more-title">Tax Wealth<span class="learn-more-title-divider">,</span> Not Work</div>
        <div class="learn-more-text">
            Wages get taxed to the bone while the ultra-rich watch their assets compound
            untouched &mdash; and then buy up the houses you're saving for.
            If you work for your money, this is your fight too.
        </div>
        <div class="learn-more-cta">
            Watch <span class="learn-more-logo"><span class="learn-more-logo-garys">gary&rsquo;s</span><span class="learn-more-logo-economics">economics</span></span> on YouTube &rarr;
        </div>
    </a>
</div>
