<aside class="sidebar sidebar-lg col-2 xs-hide sm-hide">
  <ul>
    <li><a href="#introduction" class="sidebar-button">Introduction</a></li>
    <li><a href="#setup" class="sidebar-button">Basic Setup</a></li>
    <li><a href="#app-config" class="sidebar-button">App Config</a></li>
    <li><a href="#database" class="sidebar-button">Database</a></li>
    <li><a href="#router" class="sidebar-button">Router</a></li>
    <li><a href="#authentication" class="sidebar-button">Authentication</a></li>
    <li><a href="#frontend" class="sidebar-button">Frontend</a></li>
  </ul>
</aside>