<article>
  {{> learnMore }}
  
  <a href="https://www.bluehost.com/track/bersling/"
     class="app-margin-top-20"
     target="_blank">
    <div class="app-article-footer-extra">
      <div class="app-article-footer-extra-logo">
        <amp-img layout="fixed"
                 width="150"
                 height="25"
                 src="/assets/img/bluehost/bluehost-vector-logo.svg">
        </amp-img>
      </div>
      <div class="app-article-footer-extra-text">
        Need a web host?
      </div>
      <div class="app-article-footer-action">
        <button>
          Get Started
        </button>
        <p class="affiliate-link-designator">(Affiliate Link)</p>
      </div>
    </div>
  </a>
</article>

{{> footer}}
{{> subscribeLightbox}}
