<form method="post"
      class="subscribe-footer"
      action-xhr="https://mailchimp.tsmean.com/subscribe"
      target="_top">
  
  <div class="visible-submitted success-text">
    Thank you for subscribing!
  </div>
  
  <div class="visible-unsubmitted">
    <div class="subscribe-text highlight">
      Subscribe to the newsletter.
    </div>
  
    <input type="text"
           name="email"
           class="tsmean-input"
           placeholder="Email">
    &nbsp;
    <input type="submit"
           class="tsmean-button primary"
           value="Subscribe">
  </div>
  
</form>

