.subscribe-lightbox {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  @extend %bg-one;
}


.subscribe-lightbox-success {
  font-weight: bold;
  color: $color-success;
}

.subscribe-lightbox-error {
  font-weight: bold;
  color: $color-error;
}
