<amp-lightbox id="subscribe-lightbox" layout="nodisplay">
  <div class="lightbox">
    <div class="subscribe-lightbox boxed center">
      <h2>
        Stay connected.
      </h2>
      
      <div>
        <amp-img src="/img/tsmean-logo.svg" width="140" height="60" alt="tsmean Logo"></amp-img>
      </div>
      
      <p class="center">
        Stay up to date about fullstack typescript by signing up to our newsletter!
      </p>
      
      <form method="post"
            action-xhr="https://mailchimp.tsmean.com/subscribe"
            target="_top">
        
        <div>
          <input type="text"
                 name="fname"
                 required
                 placeholder="First Name">
        </div>
        <div class="spacer10"></div>
        <div>
          <input type="email"
                 name="email"
                 required
                 placeholder="Email">
        </div>
        
        <div class="spacer10"></div>
        
        <input type="submit"
               id="newsletter-subscription"
               class="tsmean-button primary"
               value="SUBSCRIBE">
        
        <div submit-success>
          <div class="spacer50"></div>
          Thank you for subscribing!
        </div>
      
      </form>
      
      <div class="spacer50"></div>
      
      <div class="right-align">
        <button id="close-lightbox-subscribe" on="tap:subscribe-lightbox.close">
          Close
        </button>
      </div>
    
    </div>
  </div>
</amp-lightbox>
