.clean-code-wrapper {

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 15px;

  .clean-code-heading {
    margin-top: 0;
  }

  .mini-raven {
    margin-bottom: -3px;
  }

  .affiliate-link {
    font-size: 10px;
    margin-top: 10px;
  }

}
