<div class="value-bullets">
  <div class="value-bullet">
    <a href="./articles">
      <h3 class="primary-color">Articles</h3>
    </a>
    <p class="center">
      Our resources guide you along your journey with full stack TypeScript.
    </p>
  </div>
  
  <div class="value-bullet">
    <a href="./starter-kit">
      <h3 class="primary-color">Starter Kit</h3>
    </a>
    <p class="center">
      The StarterKit kickstarts your new app with modular & scalable design.
    </p>
  </div>
</div>
