<amp-sidebar class="sidebar" id='sidebar1' layout='nodisplay'>
  <ul class="sidenav">
    <li on="tap:sidebar1.close" class="center" tabindex="0" role="listitem">
      <a href=""  class="sidebar-close-button sidebar-button">
        x
      </a>
    </li>
    <li><a href="#introduction" class="sidebar-button">Introduction</a></li>
    <li><a href="#setup" class="sidebar-button">Basic Setup</a></li>
    <li><a href="#app-config" class="sidebar-button">App Config</a></li>
    <li><a href="#database" class="sidebar-button">Database</a></li>
    <li><a href="#router" class="sidebar-button">Router</a></li>
    <li><a href="#authentication" class="sidebar-button">Authentication</a></li>
    <li><a href="#frontend" class="sidebar-button">Frontend</a></li>
  </ul>
</amp-sidebar>