
.animatedpic {
    animation-name: changeopacity;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@keyframes changeopacity {
    0%  {opacity: 1;}
    1.5%  {opacity: 1;}
    1.50000001%  {opacity: 0;}
}

.pic000 {animation-delay: 0ms;}
.pic001 {animation-delay: 39ms;}
.pic002 {animation-delay: 79ms;}
.pic003 {animation-delay: 118ms;}
.pic004 {animation-delay: 157ms;}
.pic005 {animation-delay: 197ms;}
.pic006 {animation-delay: 236ms;}
.pic007 {animation-delay: 276ms;}
.pic008 {animation-delay: 315ms;}
.pic009 {animation-delay: 354ms;}
.pic010 {animation-delay: 394ms;}
.pic011 {animation-delay: 433ms;}
.pic012 {animation-delay: 472ms;}
.pic013 {animation-delay: 512ms;}
.pic014 {animation-delay: 551ms;}
.pic015 {animation-delay: 591ms;}
.pic016 {animation-delay: 630ms;}
.pic017 {animation-delay: 669ms;}
.pic018 {animation-delay: 709ms;}
.pic019 {animation-delay: 748ms;}
.pic020 {animation-delay: 787ms;}
.pic021 {animation-delay: 827ms;}
.pic022 {animation-delay: 866ms;}
.pic023 {animation-delay: 906ms;}
.pic024 {animation-delay: 945ms;}
.pic025 {animation-delay: 984ms;}
.pic026 {animation-delay: 1024ms;}
.pic027 {animation-delay: 1063ms;}
.pic028 {animation-delay: 1102ms;}
.pic029 {animation-delay: 1142ms;}
.pic030 {animation-delay: 1181ms;}
.pic031 {animation-delay: 1220ms;}
.pic032 {animation-delay: 1260ms;}
.pic033 {animation-delay: 1299ms;}
.pic034 {animation-delay: 1339ms;}
.pic035 {animation-delay: 1378ms;}
.pic036 {animation-delay: 1417ms;}
.pic037 {animation-delay: 1457ms;}
.pic038 {animation-delay: 1496ms;}
.pic039 {animation-delay: 1535ms;}
.pic040 {animation-delay: 1575ms;}
.pic041 {animation-delay: 1614ms;}
.pic042 {animation-delay: 1654ms;}
.pic043 {animation-delay: 1693ms;}
.pic044 {animation-delay: 1732ms;}
.pic045 {animation-delay: 1772ms;}
.pic046 {animation-delay: 1811ms;}
.pic047 {animation-delay: 1850ms;}
.pic048 {animation-delay: 1890ms;}
.pic049 {animation-delay: 1929ms;}
.pic050 {animation-delay: 1969ms;}
.pic051 {animation-delay: 2008ms;}
.pic052 {animation-delay: 2047ms;}
.pic053 {animation-delay: 2087ms;}
.pic054 {animation-delay: 2126ms;}
.pic055 {animation-delay: 2165ms;}
.pic056 {animation-delay: 2205ms;}
.pic057 {animation-delay: 2244ms;}
.pic058 {animation-delay: 2283ms;}
.pic059 {animation-delay: 2323ms;}
.pic060 {animation-delay: 2362ms;}
.pic061 {animation-delay: 2402ms;}
.pic062 {animation-delay: 2441ms;}
.pic063 {animation-delay: 2480ms;}
.pic064 {animation-delay: 2520ms;}
.pic065 {animation-delay: 2559ms;}
.pic066 {animation-delay: 2598ms;}
.pic067 {animation-delay: 2638ms;}
.pic068 {animation-delay: 2677ms;}
.pic069 {animation-delay: 2717ms;}
.pic070 {animation-delay: 2756ms;}
.pic071 {animation-delay: 2795ms;}
.pic072 {animation-delay: 2835ms;}
.pic073 {animation-delay: 2874ms;}
.pic074 {animation-delay: 2913ms;}
.pic075 {animation-delay: 2953ms;}
.pic076 {animation-delay: 2992ms;}
.pic077 {animation-delay: 3031ms;}
.pic078 {animation-delay: 3071ms;}
.pic079 {animation-delay: 3110ms;}
.pic080 {animation-delay: 3150ms;}
.pic081 {animation-delay: 3189ms;}
.pic082 {animation-delay: 3228ms;}
.pic083 {animation-delay: 3268ms;}
.pic084 {animation-delay: 3307ms;}
.pic085 {animation-delay: 3346ms;}
.pic086 {animation-delay: 3386ms;}
.pic087 {animation-delay: 3425ms;}
.pic088 {animation-delay: 3465ms;}
.pic089 {animation-delay: 3504ms;}
.pic090 {animation-delay: 3543ms;}
.pic091 {animation-delay: 3583ms;}
.pic092 {animation-delay: 3622ms;}
.pic093 {animation-delay: 3661ms;}
.pic094 {animation-delay: 3701ms;}
.pic095 {animation-delay: 3740ms;}
.pic096 {animation-delay: 3780ms;}
.pic097 {animation-delay: 3819ms;}
.pic098 {animation-delay: 3858ms;}
.pic099 {animation-delay: 3898ms;}
.pic100 {animation-delay: 3937ms;}
.pic101 {animation-delay: 3976ms;}
.pic102 {animation-delay: 4016ms;}
.pic103 {animation-delay: 4055ms;}
.pic104 {animation-delay: 4094ms;}
.pic105 {animation-delay: 4134ms;}
.pic106 {animation-delay: 4173ms;}
.pic107 {animation-delay: 4213ms;}
.pic108 {animation-delay: 4252ms;}
.pic109 {animation-delay: 4291ms;}
.pic110 {animation-delay: 4331ms;}
.pic111 {animation-delay: 4370ms;}
.pic112 {animation-delay: 4409ms;}
.pic113 {animation-delay: 4449ms;}
.pic114 {animation-delay: 4488ms;}
.pic115 {animation-delay: 4528ms;}
.pic116 {animation-delay: 4567ms;}
.pic117 {animation-delay: 4606ms;}
.pic118 {animation-delay: 4646ms;}
.pic119 {animation-delay: 4685ms;}
.pic120 {animation-delay: 4724ms;}
.pic121 {animation-delay: 4764ms;}
.pic122 {animation-delay: 4803ms;}
.pic123 {animation-delay: 4843ms;}
.pic124 {animation-delay: 4882ms;}
.pic125 {animation-delay: 4921ms;}
.pic126 {animation-delay: 4961ms;}
.pic127 {animation-delay: 5000ms;}

