<a href="https://github.com/tsmean/tsmean" target="_blank" id="#github-tsmean" class="github-button">
  <button class="jumbo-button raised">
    <!-- do not remove the span, it is not excess. see https://stackoverflow.com/a/35466231/3022127 -->
    <span class="github-button">
      <amp-img src="/assets/img/github-icon-white.svg"
               height="40"
               width="40"
               class="margin-left-right-8"
               alt="Github Logo">
      </amp-img>
      <span class="github-text">
        GET SEED ON GITHUB
      </span>
    </span>
  </button>
</a>
