<a href="https://github.com/tsmean/tsmean" target="_blank" id="#github-tsmean" class="github-button">
  <button class="jumbo-button">
    <!-- do not remove the span, it is not excess. see https://stackoverflow.com/a/35466231/3022127 -->
    <span class="github-button">
      <amp-img src="/img/github-icon-white.svg"
               height="25"
               width="25"
               class="margin-left-right-8"
               alt="Github Logo">
      </amp-img>
      <span class="github-text">
        GET SEED ON GITHUB
      </span>
    </span>
  </button>
</a>
