@import 'variables';
@import 'gradient';

.jumbo-main {
  // background-image: url('/img/pink-dust.svg');
  background-color: $primary-color;
  // @include diagonal-gradient($primary-color, $accent);
  padding: 100px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .jumbo-image {
    margin-top: -50px;
    min-width: 300px;
  }

  .jumbo-title {
    font-size: 40px;
    line-height: 161%;
    font-weight: 400;
  }

  .jumbo-subtitle {
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  // Desktop styles
  @media(min-width: 700px) {
    flex-direction: row;

    .jumbo-subtitle, .jumbo-title {
      text-align: left;
    }

  }

}

.jumbo-horizontal {

  background: $primary-color;
  padding: 50px 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .jumbobox {
    margin-top: -40px; background: white
  }

  .jumbo-logo-wrapper {
    position: relative;
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
  }

  .jumbo-title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    max-width: 400px;
    text-align: left;
  }

  .jumbo-image {
    margin-bottom: 50px;
  }

  @media(max-width: 923px) {
    .jumbo-image {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .jumbo-logo-wrapper {
      height: 275px;
    }
    .jumbo2 {
      padding: 50px 20px;
    }
  }

}

.jumbo-vertical {

  background: #3F51B5;
  padding: 70px 0 70px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .jumbo-title {
    color: white;
    font-weight: bold;
    line-height: 161%;
    text-align: center;
    font-size: 30px;
  }

}
